<div class="h-testimonials">
  <h1 class="f-h1-h text-center mb-n3">Perfect Hair Vitamin</h1>
  <h2 class="f-h2-h mb-3 text-center">TESTIMONIALS</h2>

  <div class="h-w-testimonials" data-flickity='{ "wrapAround": true, "contain": true, "pageDots": true, "cellAlign": "left", "imagesLoaded": true, "arrowShape": "M30.8 100 0 49.7 30.8 0l2.5 1.6L3.6 49.7l29.7 48.7z" }'>
    
    <div class="carousel-cell px-md-5">
      <div class="item text-center">
        <h5>Amazing product, with postpartum and nursing... ive lost tons of hair, but now after 60 days taking this vitamins, its back, its looking fuller, healthier and longer. Will definitely recommend!</h5>
        <span>- Luisa L</span>
      </div>
    </div>
    <div class="carousel-cell px-md-5">
      <div class="item text-center">
        <h5>Amazing product, with postpartum and nursing... ive lost tons of hair, but now after 60 days taking this vitamins, its back, its looking fuller, healthier and longer. Will definitely recommend!</h5>
        <span>- Luisa L</span>
      </div>
    </div>
    <div class="carousel-cell px-md-5">
      <div class="item text-center">
        <h5>Amazing product, with postpartum and nursing... ive lost tons of hair, but now after 60 days taking this vitamins, its back, its looking fuller, healthier and longer. Will definitely recommend!</h5>
        <span>- Luisa L</span>
      </div>
    </div>
    
  </div>
</div>