{% comment %} 180ct {% endcomment %}
{% if product.id == 6612652195943 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Tru Bloom Hair Growth Vitamins" id="ef-faqs-609d6f2eaf545c0017609d08"></div>

<style>
  #is-the-packaging-eco-friendly-,
  #my-hair-hasn-t-grown-in-years--will-these-vitamins-work-,
  #is-the-cute-bubble-jar-reusable-,
  #are-results-guaranteed-,
  #how-do-i-request-a-refund-,
  #how-does-your-money-back-guarantee-work-,
  #i-have-male-pattern-baldness--will-your-vitamins-help-me-to-regrow-hair-,
  #do-they-help-with-hair-breakage-,
  #do-they-help-with-hair-thinning-,
  #just-received-my-package-today--how-does-the-60-day-challenge-work-,
  #do-you-have-a-4-month-challenge--how-can-i-get-a-second-free-bottle-{
    display: none;
  }
</style>

{% endif %}

{% comment %} 60ct {% endcomment %}
{% if product.id == 1948309946471 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Tru Bloom Hair Growth Vitamins" id="ef-faqs-609d6f2eaf545c0017609d08"></div>
<style>
  #is-the-tru-bloom-180-day-pouch-packaging-reusable--,
  #can-i-get-a-refund-for-the-180-day-supply-of-tru-bloom-{
    display: none;
  }
</style>
{% endif %}

{% comment %} 30ct {% endcomment %}
{% if product.id == 1417983033447 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Tru Bloom Hair Growth Vitamins" id="ef-faqs-609d6f2eaf545c0017609d08"></div>
<style>
  #is-the-tru-bloom-180-day-pouch-packaging-reusable--,
  #can-i-get-a-refund-for-the-180-day-supply-of-tru-bloom-{
    display: none;
  }
</style>
{% endif %}

{% comment %} Aloha Babe Dry Shampoo {% endcomment %}
{% if product.id == 4600594464871 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Aloha Babe Dry Shampoo" id="ef-faqs-60a4460de5aa9800176f3ac4"></div>
{% endif %}

{% comment %} Leave-In Conditioner {% endcomment %}
{% if product.id == 4537960431719 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Luscious Locks Leave-in Conditioner" id="ef-faqs-60a44dfcfd08770017760561"></div>
{% endif %} 

{% comment %} Beach Goddess {% endcomment %}
{% if product.id == 4600581029991 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Beach Goddess Hot Oil Hair Mask" id="ef-faqs-60a57262fd08770017760772"></div>
{% endif %}

{% comment %} Gift card {% endcomment %}
{% if product.id == 4546091745383 %}
{% endif %}

{% comment %} Long & Lush Bundle {% endcomment %}
{% if product.id == 4757507407975 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Tru Bloom Hair Growth Vitamins" id="ef-faqs-609d6f2eaf545c0017609d08"></div>
<div class="ef-faqs-plus-app-cats-content" data-category="Beach Goddess Hot Oil Hair Mask" id="ef-faqs-60a57262fd08770017760772"></div>
<div class="ef-faqs-plus-app-cats-content" data-category="Luscious Locks Leave-in Conditioner" id="ef-faqs-60a44dfcfd08770017760561"></div>
{% endif %}

{% comment %} Duo Dream Team {% endcomment %}
{% if product.id == 4757508227175 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Tru Bloom Hair Growth Vitamins" id="ef-faqs-609d6f2eaf545c0017609d08"></div>
<div class="ef-faqs-plus-app-cats-content" data-category="Beach Goddess Hot Oil Hair Mask" id="ef-faqs-60a57262fd08770017760772"></div>
{% endif %}

{% comment %} Selfcare Bundle {% endcomment %}
{% if product.id == 4752079814759 %}
{% endif %}

{% comment %} Fresh & Fabulous Bundle {% endcomment %}
{% if product.id == 4757508784231 %}
{% endif %}

{% comment %} Tropical Touch L {% endcomment %}
{% if product.id == 6554709229671 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Tropical Touch Beauty Sanitizer" id="ef-faqs-609d5eb1af545c0017609cdd"></div>
{% endif %}

{% comment %}Tropical Touch S {% endcomment %}
{% if product.id == 6538018750567 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Tropical Touch Beauty Sanitizer" id="ef-faqs-609d5eb1af545c0017609cdd"></div>
{% endif %}

{% comment %} Tropical Touch solo {% endcomment %}
{% if product.id == 6556149776487 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Tropical Touch Beauty Sanitizer" id="ef-faqs-609d5eb1af545c0017609cdd"></div>
{% endif %}

{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6556149842023 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Tropical Touch Beauty Sanitizer" id="ef-faqs-609d5eb1af545c0017609cdd"></div>
{% endif %}

{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6557132423271 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Tropical Touch Beauty Sanitizer" id="ef-faqs-609d5eb1af545c0017609cdd"></div>
{% endif %}

{% comment %} Beauty Coco {% endcomment %}
{% if product.id == 1443134275687 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Beauty Coco Virgin Coconut Oil" id="ef-faqs-60a453cffd08770017760584"></div>
{% endif %}

{% comment %} Mermaid Mist {% endcomment %}
{% if product.id == 6630743965799 or product.id == 6641187291239 %}
<div class="ef-faqs-plus-app-cats-content" data-category="Mermaid Mist Hair Thickening Spray" id="ef-faqs-622c88baddd871b31215a292"></div>
{% endif %}