{% comment %} 60ct {% endcomment %}
{% if product.id == 1948309946471 or product.id == 1417983033447 %}
<p>ST. TROPICA Hair Growth Vitamins are a different kind of Hair Vitamin. In addition to all the essential hair nutrients, you also get our exclusive HAIR SUPERFOOD formula. 
  These are legendary, time-honored ingredients which have been used for centuries in different parts of the world, as a Secret to Beautiful Lustrous Hair.  
</p>
<p class="mb-1"><b>Helps to:</b></p>
<ul class="ul-disc">
  <li>Accelerate Your Natural Hair Growth</li>
  <li>Stimulate Hair Regrowth</li>
  <li>Reduce Hair Thinning</li>
  <li>Reduce Hair Fall</li>
  <li>Improve Hair Texture, Strength & Shine</li>
</ul>
{% endif %}


{% comment %} 30ct 
{% if product.id == 1417983033447 %}
<ul class="ul-disc">
  <li>Accelerate your natural Hair Growth</li>
  <li>Longer, Stronger, Thicker Hair</li>
  <li>Decreasing Hair Thinning, Hair Loss &amp; Hair Fall</li>
  <li>Helps Nourish actual Hair Follicles</li>
  <li>Reversing Damage at The Root; and promoting New Hair Growth</li>
  <li>Helps improve the rate of Hair Growth, Hair Texture, Strength &amp; Shine</li>
  <li>100% Drug-Free</li>
  <li>Allergen Free - of all 8 Allergens for Nutritional Supplements</li>
</ul>
{% endif %}
{% endcomment %}

{% comment %} Aloha Babe Dry Shampoo {% endcomment %}
{% if product.id == 4600594464871 %}
<p>ST. TROPICA Aloha Babe Dry Shampoo leaves 2nd (or 3rd) day hair looking just-washed clean and delightfully scented, no water necessary. Natural Tapioca Starch deeply cleanses hair and scalp in an instant, while our Hair Superfood formula of Organic Bhringraj, Amla, Hibiscus, and Horsetail provides vital moisturization to dry, brittle hair. Natural proteins target damaged areas, repairing strands from the inside out, and protective emollient and conditioning ingredients improve the appearance of volume and shine.</p>
<ul class="ul-disc">
  <li>A Natural Dry Shampoo With Beautiful Hair Benefits</li>
  <li>Non-Whitening Formula for All Hair Colors</li>
  <li>Leaves Hair Looking Clean, Shiny, and Healthy</li>
  <li>Aluminum-Free Formula</li>
</ul> 
{% endif %}

{% comment %} Leave-In Conditioner {% endcomment %}
{% if product.id == 4537960431719 %}
<p>ST. TROPICA Luscious Locks Leave-In Conditioner delivers your best hair day every day! A next-level hair care product for remarkably ravishing locks, this beauty contains exotic hair superfoods to lock in moisture and nourish strands, giving hair a strong, vibrant, healthy appearance. Pure organic oils deliver lustrous shine, smooth flyaways, visibly diminish split ends, and reduce frizz, all without causing hair to feel weighed down or greasy. </p>
<ul class="ul-disc">
  <li>A Natural Leave-In Conditioner for All Hair Types</li>
  <li>Leaves Hair Looking Smooth, Shiny, and Healthy</li>
  <li>Free From: Artificial Colors, Artificial Fragrance, Artificial Preservatives, Sulfates, Parabens, Silicone, and Gluten</li>
</ul>
{% endif %} 

{% comment %} Beach Goddess {% endcomment %}
{% if product.id == 4600581029991 %}
<p><strong>DRY, DAMAGED HAIR... GONE - WITH JUST ONE USE!</strong> With the Ultimate Hair Mask, by ST. TROPICA. Our exclusive formula of proven HAIR SUPERFOODS quickly heats up like a Hot Oil Treatment, fully penetrating your hairs’ “Cuticle” layer – into the innermost “Cortex” layer of the hair shaft, where the magic happens: as it repairs, nourishes, and deeply hydrates your hair, from the inside-out.</p>
<ul class="ul-disc">
  <li>For STRONGER, THICKER, LUSTROUS Hair</li>
  <li>Leaves Hair Feeling Ultra-Moisturized, Soft, Smooth, and Strong</li>
  <li>Instantly repairs hair damage from the inside-out</li>
  <li>Helps stimulate hair growth</li>
</ul>
{% endif %}

{% comment %} Gift card {% endcomment %}
{% if product.id == 4546091745383 %}
{% endif %}

{% comment %} Long & Lush Bundle {% endcomment %}
{% if product.id == 4757507407975 %}
<p>ST. TROPICA Long &amp; Lush Bundle delivers the whole luxe hair package. Provide protection, nourish and hydrate, visibly improve hair growth and strength, and boost smoothness and shine with three of our high-performance products. 
    Signature <a href="https://www.sttropica.com/products/st-tropica-beach-goddess-hot-oil-hair-mask">Beach Goddess Hot Oil Hair Mask</a> pairs with our Best Selling <a href="https://www.sttropica.com/products/st-tropica-hair-growth-vitamins">
    Tru Bloom Hair Growth Vitamins</a> and New<a href="https://www.sttropica.com/products/st-tropica-leave-in-conditioner"> Luscious Locks Leave-In Conditioner</a>. Hair Superfoods combine in these natural formulas to offer the best benefits 
    for your most luxuriant feeling hair ever.</p>
<ul class="ul-disc">
  <li>3-Product Bundle for Gorgeous Hair</li>
  <li>Hair Superfood Formulas Promote a Strong &amp; Healthy Appearance</li>
</ul>
{% endif %}

{% comment %} Duo Dream Team {% endcomment %}
{% if product.id == 4757508227175 %}
<p>ST. TROPICA Duo Dream Team is a match made in hair heaven! Our Best Selling <a href="https://www.sttropica.com/products/st-tropica-hair-vitamins-hair-challenge-2-month-supply">Tru Bloom Hair Growth Vitamins</a> + Signature <a href="https://www.sttropica.com/products/st-tropica-beach-goddess-hot-oil-hair-mask">Beach Goddess Hot Oil Hair Mask</a> all bundled in one super sweet twosome. This dynamic duo teams up to deliver the best in beautiful Hair Superfood ingredients for your longest, strongest, healthiest feeling hair. The ST. TROPICA Duo Dream Team bundle is the ideal gift for your coif-obsessed bestie and don’t forget to pick one up for yourself!</p>
<ul class="ul-disc">
  <li>Hair Superfoods Support Healthy Looking Scalp &amp; Hair</li>
  <li>A Perfect Hair Care Pairing for Long, Strong, Thick Feeling Hair</li>
  <li>A 2-Month Supply of Our Best Selling Hair Growth Vitamins</li>
</ul>
{% endif %}

{% comment %} Selfcare Bundle {% endcomment %}
{% if product.id == 4752079814759 %}
{% endif %}

{% comment %} Fresh & Fabulous Bundle {% endcomment %}
{% if product.id == 4757508784231 %}
{% endif %}
{% if product.id == 6554709229671 or product.id == 6538018750567 or product.id == 6556149776487 or product.id == 6556149842023 or product.id == 6557132423271 %}
<p>It's true 70% Hand Sanitizer... Beautified!  Our new ST. TROPICA Beauty Sanitizer brings BIG beauty benefits to your hand purifier.</p>
<p>This hand cleanser meets Skin Superfood formula includes anti-aging antioxidants Organic Green Tea and Organic Blueberry to deliver powerful wrinkle-defense and firming action.</p>
<p>A trio of ultimately hydrating ingredients – Hyaluronic acid, Vitamin C, and Niacinamide – combine with Organic Avocado Oil and Cocoa Butter to deeply moisturize and rejuvenate. All while killing 99.9% of germs.</p>
{% endif %}
{% comment %} Tropical Touch L {% endcomment %}
{% if product.id == 6554709229671 %}
{% endif %}

{% comment %}Tropical Touch S {% endcomment %}
{% if product.id == 6538018750567 %}
{% endif %}

{% comment %} Tropical Touch solo {% endcomment %}
{% if product.id == 6556149776487 %}
{% endif %}

{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6556149842023 %}
{% endif %}

{% comment %} Tropical Touch duo {% endcomment %}
{% if product.id == 6557132423271 %}
{% endif %}

{% comment %} Beauty Coco {% endcomment %}
{% if product.id == 1443134275687 %}
{% endif %}

{% comment %} Mermaid Mist {% endcomment %}
{% if product.id == 6630743965799 %}
<p>Mermaid Mist Hair Thickening Spray delivers instantly thicker and fuller hair. Our exotic botanicals and hair superfoods make strands feel stronger, fuller, and healthier in just one use. Himalayan Pink Salt enhances volume & texture, Sea Kelp Extract helps strengthen strands, and Argan Oil moisturizes & protects against damage.</p>
<ul class="ul-disc">
  <li>Creates the Look of Thickness & Volume</li>
  <li>Promotes the Appearance of Hair Growth</li>
  <li>Results are instant AND provide long-lasting results</li>
  <li>Designed for All Hair Types</li>
</ul>
{% endif %}