
<div class="page clearfix">
  <div class="row text-center">
    <h1 class="title mt-5">How to use St. Tropica Aloha Babe</h1>
  </div>
  <section id="directions">
    <div class="container">
      <div class="row text-center">
        <p class="mx-auto">Shake and, holding bottle 8-10 inches away, spray onto roots of hair. Massage gently into scalp and style as desired.</p>
      </div>
    </div>
  </section>
  {{ page.content }}
</div>
