<div class="container">

  <h1 class="page-title pb-md-2 pt-md-3 mt-5">St. Tropica Hair Growth Vitamins</h1>
  <div style="text-align: center;" class="d-none d-md-block">
    <img src="{{ 'hair-vitamins-ingredients.png' | asset_url }}" alt="" class="img-fluid" style="float: none;" />
  </div>
  <div style="text-align: center;" class="d-block d-md-none">
    <img src="{{ 'sttropica_facts_1.png' | asset_url }}" alt="" class="img-fluid" />
    <img src="{{ 'sttropica_facts_2.png' | asset_url }}" alt="" class="img-fluid" />
  </div>

  <div>
    {{ page.content }}
  </div>

</div>

