
<div class="page clearfix">
  <div class="row text-center">
    <h1 class="title mt-5">How to use St. Tropica Luscious Locks</h1>
  </div>
  <section id="directions">
    <div class="container">
      <div class="row text-center">
        <p>Spray Luscious Locks Leave-In Conditioner onto slightly damp hair from mid-length to ends and work through with fingers. Do not rinse out. Blow dry or allow hair to air dry. Style hair as usual. Use regularly for best results.</p>
      </div>
    </div>
  </section>
  {{ page.content }}
</div>

