<script src="{{ 'stt_contact.js' | asset_url }}" defer></script>

<style type="text/css">
  .xs {
    font-size: 0.575rem !important;
  }
  .error {
    color: #a94442
  }
  .g-recaptcha > div {
    margin: auto;
  }
  .input-group textarea {
    border-radius: 0;
    border-color: #d1d0d0;
    padding: 20px;
  }
  .input-group input, .input-group select {
    height: 60px;
    border-radius: 0;
    width: 100%;
    border-color: #d1d0d0;
    padding: 20px;
  }
  .dropdown-menu {
    margin-top: .75rem;
  }
  .caption {
    width: auto;
  }
  .rating-container .caption {
    vertical-align: baseline !important;
  }
  [type=submit]:disabled {
    cursor: wait !important;
  }
  .rating-container .filled-stars {
    -webkit-text-stroke: 1px #ff92c5 !important;
    text-shadow: 2px 3px 4px #e0e0e0 !important;
  }
  .empty-stars .star .fas.fa-star {
    color: #bcc1c7;
  }
  .filled-stars .star .fas.fa-star {
    color: #fe9bc9;
    font-size: 1em;
  }
  .filled-stars .star .fas.fa-star:before,
  .empty-stars .star .fas.fa-star:before {
    font-size: 1em;
    font-weight: bold;
  }
  .rating-container .caption .label {
    color: #fff;
  }
  small.text-muted {
    line-height: 1.5;
  }
  .dz-default.dz-message span {
    border: 2px dashed #ced4da;
    padding: 10px;
    border-radius: 10px;
    background-color: #f9fcff;
  }
  .dropzone .dz-message {
    margin: 13% 0 !important;
  }
</style>

<div class="sixteen columns page clearfix"> {{ page.content }} </div>

<center>
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-class="LazyLoad" data-src="{{ 'sttropica_contact_us.png' | asset_url }}" class="text-center lazyload transition--blur-up img-fluid pill-ingr img-full" alt="ST. TROPICA Hair Growth Vitamins"/>
</center>

<div class="col-md-6 mx-auto p-4 mb-0">
  <form id="stt_contact" action="https://sttropica.net/Review/contact-form.php">
    <div class="row">
      <div class=" col-md-6 mb-3">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="fields[field_1]" placeholder="First Name" class="form-control  " id="field_1" required>
          </div>
        </div>
      </div>
      <div class=" col-md-6 mb-3">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="fields[field_12]" placeholder="Last Name" class="form-control  " id="field_12" required>
          </div>
        </div>
      </div>
      <div class=" col-md-6 mb-3">
        <div class="form-group">
          <div class="input-group">
            <input type="email" name="fields[field_2]" placeholder="Email Address" class="form-control  " id="field_2" data-rule-email="1" data-msg-email="Please provide a valid email" required>
          </div>
        </div>
      </div>
      <div class=" col-md-6 mb-3">
        <div class="form-group">
          <div class="input-group">
            <input type="email" name="fields[field_8]" placeholder="Confirm your Email Address" class="form-control  " id="field_8" required>
          </div>
        </div>
      </div>
      <div class=" col-md-6 mb-3">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="fields[field_9]" placeholder="State/Province/Region" class="form-control  " id="field_9">
          </div>
        </div>
      </div>
      <div class=" col-md-6 mb-3">
        <div class="form-group">
          <div class="input-group">
            <select class="custom-select  " id="field_11" name="fields[field_11]" data-rule-maxlength="1" data-msg-maxlength="">
              <option> United States </option>
              <option> United Kingdom </option>
              <option> Australia </option>
              <option> Canada </option>
              <option> France </option>
              <option> New Zealand </option>
              <option> India </option>
              <option> Brazil </option>
              <option> Afghanistan </option>
              <option> Åland Islands </option>
              <option> Albania </option>
              <option> Algeria </option>
              <option> American Samoa </option>
              <option> Andorra </option>
              <option> Angola </option>
              <option> Anguilla </option>
              <option> Antarctica </option>
              <option> Antigua and Barbuda </option>
              <option> Argentina </option>
              <option> Armenia </option>
              <option> Aruba </option>
              <option> Austria </option>
              <option> Azerbaijan </option>
              <option> Bahamas </option>
              <option> Bahrain </option>
              <option> Bangladesh </option>
              <option> Barbados </option>
              <option> Belarus </option>
              <option> Belgium </option>
              <option> Belize </option>
              <option> Benin </option>
              <option> Bermuda </option>
              <option> Bhutan </option>
              <option> Bolivia </option>
              <option> Bosnia and Herzegovina </option>
              <option> Botswana </option>
              <option> British Indian Ocean Territory </option>
              <option> Brunei Darussalam </option>
              <option> Bulgaria </option>
              <option> Burkina Faso </option>
              <option> Burundi </option>
              <option> Cambodia </option>
              <option> Cameroon </option>
              <option> Cape Verde </option>
              <option> Cayman Islands </option>
              <option> Central African Republic </option>
              <option> Chad </option>
              <option> Chile </option>
              <option> China </option>
              <option> Colombia </option>
              <option> Comoros </option>
              <option> Democratic Republic of the Congo </option>
              <option> Republic of the Congo </option>
              <option> Cook Islands </option>
              <option> Costa Rica </option>
              <option> Côte d&#039;Ivoire </option>
              <option> Croatia </option>
              <option> Cuba </option>
              <option> Cyprus </option>
              <option> Czech Republic </option>
              <option> Denmark </option>
              <option> Djibouti </option>
              <option> Dominica </option>
              <option> Dominican Republic </option>
              <option> East Timor </option>
              <option> Ecuador </option>
              <option> Egypt </option>
              <option> El Salvador </option>
              <option> Equatorial Guinea </option>
              <option> Eritrea </option>
              <option> Estonia </option>
              <option> Ethiopia </option>
              <option> Faroe Islands </option>
              <option> Fiji </option>
              <option> Finland </option>
              <option> Gabon </option>
              <option> Gambia </option>
              <option> Georgia </option>
              <option> Germany </option>
              <option> Ghana </option>
              <option> Gibraltar </option>
              <option> Greece </option>
              <option> Grenada </option>
              <option> Guatemala </option>
              <option> Guinea </option>
              <option> Guinea-Bissau </option>
              <option> Guyana </option>
              <option> Haiti </option>
              <option> Honduras </option>
              <option> Hong Kong </option>
              <option> Hungary </option>
              <option> Iceland </option>
              <option> Indonesia </option>
              <option> Iran </option>
              <option> Iraq </option>
              <option> Ireland </option>
              <option> Israel </option>
              <option> Italy </option>
              <option> Jamaica </option>
              <option> Japan </option>
              <option> Jordan </option>
              <option> Kazakhstan </option>
              <option> Kenya </option>
              <option> Kiribati </option>
              <option> North Korea </option>
              <option> South Korea </option>
              <option> Kuwait </option>
              <option> Kyrgyzstan </option>
              <option> Laos </option>
              <option> Latvia </option>
              <option> Lebanon </option>
              <option> Lesotho </option>
              <option> Liberia </option>
              <option> Libya </option>
              <option> Liechtenstein </option>
              <option> Lithuania </option>
              <option> Luxembourg </option>
              <option> Macedonia </option>
              <option> Madagascar </option>
              <option> Malawi </option>
              <option> Malaysia </option>
              <option> Maldives </option>
              <option> Mali </option>
              <option> Malta </option>
              <option> Marshall Islands </option>
              <option> Mauritania </option>
              <option> Mauritius </option>
              <option> Mexico </option>
              <option> Micronesia </option>
              <option> Moldova </option>
              <option> Monaco </option>
              <option> Mongolia </option>
              <option> Montenegro </option>
              <option> Morocco </option>
              <option> Mozambique </option>
              <option> Myanmar </option>
              <option> Namibia </option>
              <option> Nauru </option>
              <option> Nepal </option>
              <option> Netherlands </option>
              <option> Curacao </option>
              <option> Nicaragua </option>
              <option> Niger </option>
              <option> Nigeria </option>
              <option> Norway </option>
              <option> Oman </option>
              <option> Pakistan </option>
              <option> Palau </option>
              <option> Palestine </option>
              <option> Panama </option>
              <option> Papua New Guinea </option>
              <option> Paraguay </option>
              <option> Peru </option>
              <option> Philippines </option>
              <option> Poland </option>
              <option> Portugal </option>
              <option> Puerto Rico </option>
              <option> Qatar </option>
              <option> Romania </option>
              <option> Russia </option>
              <option> Rwanda </option>
              <option> Saint Kitts and Nevis </option>
              <option> Saint Lucia </option>
              <option> Saint Vincent and the Grenadines </option>
              <option> Samoa </option>
              <option> San Marino </option>
              <option> Sao Tome and Principe </option>
              <option> Saudi Arabia </option>
              <option> Senegal </option>
              <option> Serbia </option>
              <option> Seychelles </option>
              <option> Sierra Leone </option>
              <option> Singapore </option>
              <option> Sint Maarten </option>
              <option> Slovakia </option>
              <option> Slovenia </option>
              <option> Solomon Islands </option>
              <option> Somalia </option>
              <option> South Africa </option>
              <option> Spain </option>
              <option> Sri Lanka </option>
              <option> Sudan </option>
              <option> Suriname </option>
              <option> Swaziland </option>
              <option> Sweden </option>
              <option> Switzerland </option>
              <option> Syria </option>
              <option> Taiwan </option>
              <option> Tajikistan </option>
              <option> Tanzania </option>
              <option> Thailand </option>
              <option> Togo </option>
              <option> Tonga </option>
              <option> Trinidad and Tobago </option>
              <option> Tunisia </option>
              <option> Turkey </option>
              <option> Turkmenistan </option>
              <option> Tuvalu </option>
              <option> Uganda </option>
              <option> Ukraine </option>
              <option> United Arab Emirates </option>
              <option> United States Minor Outlying Islands </option>
              <option> Uruguay </option>
              <option> Uzbekistan </option>
              <option> Vanuatu </option>
              <option> Vatican City </option>
              <option> Venezuela </option>
              <option> Vietnam </option>
              <option> Virgin Islands, British </option>
              <option> Virgin Islands, U.S. </option>
              <option> Yemen </option>
              <option> Zambia </option>
              <option> Zimbabwe </option>
            </select>
          </div>
        </div>
      </div>
      {% comment %}<div class=" col-md-12 mb-3 ">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="fields[field_4]" placeholder="Phone Number" class="form-control  " id="field_4">
          </div>
        </div>
      </div>{% endcomment %}
      <div class=" col-md-12 mb-3 ">
        <div class="form-group">
          <div class="input-group">
            <input type="text" name="fields[field_3]" placeholder="Subject" class="form-control  " id="field_3" required>
          </div>
        </div>
      </div>
      <div class=" col-md-12 mb-3 ">
        <div class="form-group">
          <div class="input-group">
            <textarea rows="7" name="fields[field_5]" cols="" placeholder="Message" class="form-control " id="field_5" required></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="g-recaptcha" data-sitekey="6Lc495EfAAAAAF8OQ8dPwNLg6lV1OCAJNMmoJ_-_"></div>
    <br>
    <div id="btn_show" class=" col-md-12 text-center mx-auto">
      <button class="button" data-btn_loading="Submitting..." data-btn_text="Submit" type="submit">Submit</button>
    </div>
    <div id="spin_show" class="text-center" style="display: none;">
      <div class="spinner-border" role="status"> <span class="sr-only"></span> </div>
    </div>
    <div id="text_show" class="text-center c-success mt-3" style="display: none;">
      <p><b>Thank You!</b>
        <br>We have received your mail! <br>
        - xo ST. TROPICA</p>
    </div>
    <div class=" col-md-12 text-center mx-auto">
      <p>
        <br>ST. TROPICA Inc.
        <br> 7251 West Lake Mead Boulevard STE 300
        <br> Las Vegas, NV 89128
        <br> Tel: 702 920 0232</p>
    </div>
  </form>
</div>

<script async="" src="//www.google.com/recaptcha/api.js?v=1"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script async="" src="//cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
