<section class="container py-5">
  <div class="row align-items-center lite-gr-bg p-0">
    <div class="col-md-9 px-5">
      <h2 class="f-h2-h mb-4 mt-2 text-center">Hair Growth Serum Ingredients</h2>
      <p>Aqua (Purified Water), Alcohol Denat., Ethoxydiglycol, Propanediol, Apple Cider Vinegar, Cocos Nucifera (Coconut Water), Peppermint Oil, Butylene Glycol, Water, Dextran, Acetyl Tetrapeptide-3, Trifolium Pratense (Clover) Flower Extract, Vegetable Glycerin, Hydrolyzed Rice Protein, Kakadu Plum Extract, Green Tea Extract, Hibiscus Flower Extract, Amla Fruit Extract, Bhringraj Extract, Horsetail Extract, Lindera Strychnifolia Root Extract, Red Ginseng Extract, Aloe Leaf Juice, Saw Palmetto Extract, Red Algae Extract, Maltodextrin, Biotin (Vitamin B7), Panthenol (Vitamin B5), MSM (Methyl Sulfonyl Methane), Caffeine, Vitamin E, Xylityl Glucoside, Anhydroxylitol, Xylitol, Pentylene Glycol, Methyl Diisopropyl Propionamide, Xanthan Gum, Certified Natural (CN) Fragrance, Geogard® Ultra.</p>
    </div>
    <div class="col-md-3 p-3">
      <img src="{{ 'hair%20growth%20serum%20webpage%20back%20lable.png' | asset_img_url: '10x' }}" data-src="{{ 'hair%20growth%20serum%20webpage%20back%20lable.png' | asset_url }}" class="lazyload transition--blur-up img-fluid pill-ingr img-full" alt="ST. TROPICA Hair Growth Vitamins"/>
    </div>
  </div>
</section>