
<div class="page clearfix">
  <div class="row text-center">
    <h1 class="title mt-5">How to use St. Tropica Hair Growth Vitamins</h1>
  </div>
  <section id="directions">
    <div class="container-fluid">
      <div class="row px-4">
        <div class="col-md-4 mb-4 mb-md-0 text-center animated fadeInUp">
          {{ 'hair_vitamins_direction_3_971323ff-cb3e-4a17-a52d-49b413284903.png' | file_url | img_tag : 'Directions - Hair Growth Vitamins', 'img-fluid' }}
          <p class="m-0 py-2 stt-pink-bg text-white">1. Take one (1) capsule daily </p>
        </div>
        <div class="col-md-4 mb-4 mb-md-0 text-center animated fadeInUp delay-1">
          {{ 'hair_vitamins_direction_2.png' | file_url | img_tag : 'Directions - Hair Growth Vitamins', 'img-fluid' }}
          <p class="m-0 py-2 stt-pink-bg text-white">2. Drink plenty of water throughout the day to stay well hydrated</p>
        </div>
        <div class="col-md-4 text-center animated fadeInUp delay-2">
          {{ 'hair_vitamins_direction_4.png' | file_url | img_tag : 'Directions - Hair Growth Vitamins', 'img-fluid' }}
          <p class="m-0 py-2 stt-pink-bg text-white">3. For best results, use along with <a href="https://sttropica.com/collections/natural-and-organic-hair-mask-treatment-products-hot-buy-now/products/coconut-oil-hair-mask-3-pack" style="color: #fff;text-decoration: underline !important;">ST. TROPICA Hot Oil Hair Mask</a></p>
        </div>
      </div>
    </div>
  </section>
  <div class="container text-center animated fadeInUp delay-3">
    <em class="mx-auto">PS.  Difficulty swallowing pills/capsules? Simply split open your daily capsule and add contents to a beverage. Done!</em>
    <p style="margin: 20px 10%; background: #f7f7f7; padding: 20px;"><b>CAUTION:</b> For adults only. Do not exceed recommended dosage. If you have a medical condition, are pregnant, nursing, or taking medications consult with your doctor before using. Keep away from children. Do not use if safety seal is damaged or missing.</p>
  </div>
  {{ page.content }}
</div>

